
@font-face {
    font-family: 'Noctura';
    src: url('../font_types/NocturaGeorgiaSansClean.ttf') format('truetype');
}
#linea::after{  

content: '';
display: block;
background: linear-gradient(rgb(0, 255, 255),white,red);
width: 100%;
height: 10px;

}
#fotoGrande{ 
    height: 400px;
    width: 750px;
}
nav,h1,h2,h3,h4,h5{ 
font-family: 'Noctura', sans-serif;
}

.marquesina {
    display: flex;
    gap: 50px; /* Espacio entre imágenes */
    animation: slide 20s linear infinite;
    width: max-content;
    overflow: hidden;
}

.marquesina-contenido {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 60s linear infinite;
}


.marquesina img {
    max-width: 100%;
    height: 50px; 
    object-fit: contain; 
}

.nav-text {
    font-size: 1.5rem; 
    color: white; 
    margin-left: 20px;
}
.carousel {
    width: 100%; 
    margin: 0 auto; 
}

.carousel-inner img {
    width: 100%;
    height: auto;
    object-fit: cover;
} 

#cartas2 {
    box-sizing: border-box; 
    background-image: url("../img/fondos.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    
    padding: 0;
    
    width: 100%;
    min-height: 100vh; 
}

#botonaco{ 
    background: linear-gradient(rgb(0, 255, 255),white,red);
}
#patrocinador1{ 
width: 178px;
height: 50px;
}
.card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: cover;
}

#patrocinador2{ 
    width: 178px;
    height: 50px;
    } 
    .marquee {
        display: flex;
        gap: 50px; 
        animation: slide 20s linear infinite; 
        width: max-content; 
    }
    
    .bd-footer {
        white-space: nowrap;
        overflow: hidden;
    }
    
    @keyframes slide {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(-100%);
        }
    }
    
    .row {
        display: flex;
        justify-content: center;
    }
   
    .d-flex {
        justify-content: center;
        flex-wrap: wrap; 
    }
    
    .card {
        max-width: 18rem; 
        width: 100%; 
        margin: 10px;
    }
    
    #cartas {
        display: flex;
        background-image: url("../img/fondos.jpg"); 
        justify-content: center; 
        gap: 20px;
        background-size: cover !important;
        flex-wrap: wrap; 
        box-sizing: content-box;
        background-repeat: no-repeat;
    }
    #cartas .card-img-top {
        width: 100%;
        height: 250px; 
        object-fit: cover; 
    }
    